$include /etc/inputrc

set show-all-if-ambiguous on

# ctrl-backspace
"\e[127;5u": backward-kill-word
# ctrl-delete
"\e[3;5~": kill-word
# ctrl-{left,right}
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# consume unknown CSI input sequences, instead of doing random stuff in cmd mode
#"\e[": skip-csi-sequence
