$include /etc/inputrc

set editing-mode vi
set show-all-if-ambiguous on

# vi mode stuff
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[1 q\2

set keymap vi-insert

# ctrl-backspace
"\e[127;5u": backward-kill-word
# ctrl-delete
"\e[3;5~": kill-word
# ctrl-{left,right}
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# consume unknown CSI input sequences, instead of doing random stuff in cmd mode
"\e[": skip-csi-sequence
